[submodule "Ava/vendor/spdlog"]
	path = Ava/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Ava/vendor/GLFW"]
	path = Ava/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Ava/vendor/imgui"]
	path = Ava/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Ava/vendor/glm"]
	path = Ava/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Kinematics/vendor/tinyxml2"]
	path = Kinematics/vendor/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "Kinematics/vendor/lua"]
	path = Kinematics/vendor/lua
	url = https://github.com/lua/lua
